.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
    flex: 1 0 300px;
    margin: 16px;
    box-shadow: 1px 1px 6px hsla(0, 0%, 0%, 0.2);
}
.card__thumbnail {
    display: block;
    width: 100%;
}

.card__img {
    width: 100%;
}

.card__body,
.card__footer {
    padding: 16px;
}

.card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-bg-color);
    border-top: 1px solid hsla(0, 0%, 0%, 0.08);
}

.card__title {
    font-size: 20px;
    line-height: 1.5;
    color: var(--primary-text-color);
}

.card__price {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}

.card__description {
    font-size: 16px;
    line-height: 1.5;
}