.footer {
     padding: 16px;
     background-color: var(--darken-bg-color);
     /*border-top: 1px solid hsla(0, 0%, 0%, 0.1);*/
     border-top: 1px solid var(--primary-color);
 }
.footer__copyright {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}