.form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 400px;
    margin: 24px auto 0 auto;
}

.form--box {
    background-color: #fff;
    box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.25);
    border-radius: 2px;
}

.form__title {
    text-align: center;
}

.form__input {
    padding: 8px;
    font-size: 16px;
    line-height: 1.5;
    border: none;
}

.form__input[type="submit"] {
    background-color: var(--primary-color);
    border-radius: 2px;
    color: #fff;
}

.form__input:not([type="submit"]) {
    box-shadow: inset 0 -2px 0 hsla(0, 0%, 0%, 0.2);
    transition: box-shadow 0.3s ease;
}


.form__input:not([type="submit"]):hover {
    box-shadow: inset 0 -2px 0 var(--primary-color);
    transition: none;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__group + .form__group {
    margin-top: 16px;
}