.header {
    background: var(--darken-bg-color);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.36);
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}
.nav--standard {
    background-color: #fff;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 3px;
}

.nav__group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav__group.nav__group--fluid {
    flex: 1 1 auto;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: var(--primary-text-color);
    display: block;
    padding: 16px;
    text-decoration: none;
    transition: box-shadow 0.3s ease,
        color 0.3s ease;
    box-shadow: inset 0 0 0 transparent;
}


.nav.nav--header .nav__link {
    color: #fff;
}

.nav__link:hover {
    color: var(--primary-color);
    box-shadow: inset 0 -3px 0 var(--primary-color);
    transition: none;
}