.popup {
    position: fixed;
    bottom: 0;
    right: 16px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 8px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.popup__header {
    width: 100%;
    padding: 16px;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.3);
}

.popup__content {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    height: 400px;
    opacity: 1;
    box-sizing: border-box;
    transition: max-height 0.3s ease,
        opacity 0.3s ease;
}

.popup__body {
    flex: 1 1 auto;
    padding: 16px;
    overflow-y: auto;
}

.popup__footer {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: #fafafa;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 0%, 0.1);
    margin: 0;
}

.popup__input {
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    outline: none;
}

.popup__input.popup__input--submit {
    flex: 0 0 auto;
    background-color: var(--primary-color);
    color: #fff;
}

.popup__header + .popup__content--hidden {
    max-height: 0;
    opacity: 0;
}

.popup__line {
    margin: 0 0 16px 0;
}

.popup__message {
    word-break: break-word;
}

.popup__time {
    color: var(--secondary-text-color);
}

.popup__author {
    font-weight: bold;
    color: var(--primary-color);
}
