.table {
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-radius: 2px;
    width: 100%;
    border-collapse: collapse;
}

.table__cell,
.table__action {
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
}
.table__cell.table__cell--no-padding {
    padding: 0;
}

.table__row:nth-child(even) {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.table__cell.table__cell--header {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    background-color: var(--darken-bg-color);
    color: #fff;
}

.table__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    border: none;
    background-color: var(--dark-bg-color);
    color: #fff;
    cursor: pointer;
}

.table__row.table__row--recap .table__cell,
.table__row.table__row--recap .table__action {
    background-color: var(--primary-color);
    color: #fff;
}