body,
html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--light-bg-color);
    color: #000;
}

main.content {
    flex: 1 1 auto;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}