:root {
    --light-bg-color: #fafafa;
    --darken-bg-color: #292628;
    --dark-bg-color: #3c383b;
    --primary-color: #f12b7d;
    --primary-text-color: #0e0e0e;
    --secondary-text-color: #777 ;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("ttf"),
    url("../fonts/Lato-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf") format("ttf"),
    url("../fonts/Lato-Bold.ttf") format("ttf");
    font-weight: bold;
}